<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CompletionServlet</servlet-name>
        <servlet-class>web.CompletionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompletionServlet</servlet-name>
        <url-pattern>/completion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SalvarExercicioServlet</servlet-name>
        <servlet-class>web.SalvarExercicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalvarExercicioServlet</servlet-name>
        <url-pattern>/salvar-exercicio</url-pattern>
    </servlet-mapping>
</web-app>
